img {
	width: 60%;
}

.parent {
	position: relative;
}

h1 {
	position: absolute;
	top: 0;
	right: 555px;
	color: white;
}

h2 {
	position: absolute;
	bottom: 0;
	color: white;
	left: 20px;
	font-size: 30px;

}
